body {
	background-color: black;
	background-image: url(013_G.jpg);
	background-repeat: no-repeat;
	font-family: sans-serif;
	font-size: 12px;
	color: white;
	width: 400px;
	margin-left: 5%;
	margin-top: 20px;
}

h1 {
	color: yellow;
}

a {
    text-decoration: none;
}
a:link {
    color: aqua;
}

a:visited {
    color: silver;
}

a:hover, a:focus {
    text-decoration: underline;
}
